// out: ..\css\style.css, sourceMap: true, compress: true
@import "vars";

html,
body {
  margin: 0;
  padding: 0;
}
body {
  width: @widthDesktop;
  margin: 0 auto;
  border-left: 20px solid #1f1f1f;
  border-right: 20px solid #1f1f1f;
  border-top: 30px solid #1f1f1f;
  border-bottom: 30px solid #1f1f1f;
  @media all and (max-width: 1020px) {
    width: auto;
  }
}
* {
  font-family: Georgia;
  font-weight: 400;
}
a {
  text-decoration: none;
}
.clearfloat::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  width: 100%;
}

.padding {
  padding: 0 15px 0;
  margin: 0 auto;
  width: @widthDesktop;
}
header {
  background: #ffffff;
  position: relative;
  border-top: 5px solid @bgColor;
}
.logo {
  font-size: 46px;
  line-height: 46px;
  color: #333333;
  margin: 36px 0 65px;
  padding-left: 30px;
  @media all and (max-width: @widthTablet) {
    font-size: 36px;
    line-height: 36px;
    margin: 75px auto 10px;
    text-align: center;
    padding: 0;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: @bgColor;
  padding: 0 30px;
}
.menu {
  display: flex;
  color: #ffffff;
  height: 70px;
  display: flex;
  align-items: center;
  &__item {
    font-size: 13px;
    line-height: 13px;
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:not(:first-child) {
      margin-left: 10px;
    }
    a {
      color: inherit;
    }
    &:hover {
      color: #000000;
    }
    &_active {
      color: #000000;
    }
  }
  @media all and (max-width: @widthDesktop) {
    margin: 0 auto;
  }
  @media all and (max-width: @widthTablet) {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    &__item {
      margin: 5px 0;
    }
    // &__item:nth-child(3)::after {
    //   content: "";
    //   width: 100%;
    //   height: 100%;
    //   // break-after: always;
    // }
  }
}
.search-form {
  display: flex;
  align-items: center;
  margin: 0 auto 5px;
  &__text {
    width: 215px;
    height: @search-form_height;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 14px;
    color: #7f7f7f;
    border: 0;
    padding: 9px;
  }
  &__button {
    height: @search-form_height;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 14px;
    color: @bgColor;
    border: 0;
    border-left: 1px solid #dddddd;
    background-color: #fff;
    cursor: pointer;
  }
}

.socials {
  &__links {
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: @bgColor;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  &__circle {
    width: 32px;
    height: 32px;
    background-color: #1f1f1f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: #00acee;
    }
  }
}
.socials_header {
  position: absolute;
  top: 0;
  right: 30px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  a {
    color: #ffffff;
  }
  @media all and (max-width: @widthTablet) {
   right: auto; 
   margin: 0 calc((100% - 250px) / 2 );
   height: 70px;
  }
}

.login {
  display: flex;
  justify-content: space-between;
  &__links {
    font-size: 12px;
    line-height: 14px;
    color: @bgColor;
    &:not(:last-child) {
      border-right: 1px solid black;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 30px;
  border-bottom: 1px solid @sliderBrdColor;
  &__img-area {
    border: 9px solid #ffffff;
    outline: @sliderBrdColor solid 1px;
    img {
      width: 880px;
      height: 360px;
      @media all and (max-width: 1020px) {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__controls {
    width: 156px;
    margin-top: 22px;
  }
  @media all and (max-width: 1020px) {
    width: auto;
    min-width: 100%;
  }
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #333333;
    width: 12px;
    height: 12px;
    &_side {
      width: 20px;
      height: 20px;
    }
    &_active {
      width: 8px;
      height: 8px;
      background-color: #f2f2f2;
      border: 2px solid #333333;
    }
  }
}

.services {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 30px;
  background-color: #fff;
  &__item {
    width: 200px;
  }
  &__title {
    font-size: 18px;
    line-height: 21px;
    color: #81b300;
  }
  &__text {
    font-size: 13px;
    line-height: 20px;
    color: #888888;
  }
  @media all and (max-width: @widthDesktop) {
    justify-content: space-around;
    &__item {
      width: 45%;
    }
  }
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    margin: 20px 0;
  }
}

.splitter {
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 0px 30px;
  box-sizing: border-box;
  &__item {
    border-bottom: 1px solid #e2e2e2;
  }
}

.latest-works {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding: 50px 30px;
  background-color: #fff;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210px;
  }
  .latest-works__img-area {
    box-sizing: border-box;
    border: 4px solid #fff;
    outline: 1px solid #e2e2e2;
    img {
      width: 200px;
      height: 130px;
    }
  }
  &__title {
    font-size: 14px;
    line-height: 16px;
    color: #444444;
    margin: 20px 0 14px;
    width: 100%;
  }
  &__text {
    font-size: 13px;
    line-height: 20px;
    color: #878787;
    margin-bottom: 14px;
  }
  &__details-link {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    a {
      display: block;
      font-size: 13px;
      line-height: 13px;
      color: #81b300;
    }
  }
  @media all and (max-width: @widthDesktop) {
    &__item {
      width: 35%;
    }
    .latest-works__img-area {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #2e2e2e;
  padding: 0 30px;
  box-sizing: border-box;
  &__item {
    font-size: 12px;
    line-height: 14px;
    color: #737373;
  }
}

.footer {
  background-color: #3b3b3b;
  display: flex;
  justify-content: space-between;
  padding: 40px 30px;
  color: #999999;
  &__item {
    width: 210px;
  }
  &__h1 {
    font-size: 13px;
    line-height: 15px;
    color: #666666;
    margin: 0 0 30px;
  }
  @media screen and (max-width: @widthDesktop) {
    flex-direction: column;
    align-items: center;
  }
}

.contacts {
  &__text {
    font-size: 13px;
    line-height: 20px;
  }
}
.links {
  &__item {
    font-size: 12px;
    line-height: 14px;
    a {
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__separator {
    border-bottom: 1px solid #484848;
    margin: 10px 0;
  }
}

.blog {
  &__post-title {
    font-size: 13px;
    line-height: 15px;
  }
  &__post-author {
    font-size: 11px;
    line-height: 13px;
    &_margin {
      margin: 7px 0 11px;
    }
  }
  &__post-text {
    font-size: 12px;
    line-height: 19px;
  }
  &__details-link {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    a {
      font-size: 12px;
      line-height: 14px;
      color: @bgColor;
    }
  }
}

.newsletters {
  &__form {
    & * {
      margin-bottom: 10px;
      height: 31px;
      background-color: #1f1f1f;
      border: none;
      border-radius: 5px;
    }
  }
  &__input {
    width: 100%;
    &::placeholder {
      padding: 10px;
    }
  }
  &__btn {
    font-size: 13px;
    line-height: 20px;
    color: @bgColor;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }
    &:focus {
      outline: none;
    }
    &:active {
      transform: scale(0.95);
    }
  }
}
