// out: ..\css\style.css, sourceMap: true, compress: true
@import "vars";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #1f1f1f;
  
  width: @widthDesktop;
  margin: 0 auto;
}
* {
  font-family: Georgia;
  font-weight: 400;
}
a {
  text-decoration: none;
}
.clearfloat::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  width: 100%;
}

.padding {
  padding: 0 15px 0;
  margin: 0 auto;
  width: @widthDesktop;
}
header {
  background: #ffffff;
}
.logo {
  font-size: 46px;
  line-height: 46px;
  color: #333333;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: #81b300;
  padding: 0 30px;
}
.menu {
  display: flex;
  color: #ffffff;
  height: 70px;
  display: flex;
  align-items: center;
}
.menu__item {
  font-size: 13px;
  line-height: 13px;
}
.menu__item:not(:last-child) {
  margin-right: 10px;
}
.menu__item:not(:first-child) {
  margin-left: 10px;
}
.menu__item a {
  color: inherit;
}
.search-form {
  display: flex;
  align-items: center;
}
.search-form__text {
  width: 215px;
  height: @search-form_height;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 14px;
  color: #7f7f7f;
  border: 0;
  padding: 9px;
}
.search-form__button {
  height: @search-form_height;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 14px;
  color: #81b300;
  border: 0;
  border-left: 1px solid #dddddd;
  background-color: #fff;
  cursor: pointer;
}
